.App {
  padding: 0;
  margin: 0;
	box-sizing: border-box;
}

.background {
  background: url('./images/background.png') no-repeat center center/cover;
  position: fixed; 
  min-width: 100%;
  min-height: 100%; 
}

.nav {
  position: fixed;
  top: 100px;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: 50px;
}

.home{
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 15px;
  padding: 0 10px;
}

.fav {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 15px;
  padding: 0 10px;
}

.search{
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 15px;
  padding: 0 10px;
}

.line {
  height: 1px;
  margin-left: 100px;
  width: 1300px;
  border: 1px solid #FFFFFF;
  opacity: 0.3;
}

.logo {
  margin-top: 50px;
  margin-left: 100px ;
  background: url('./images/logo_web.png') no-repeat center center/cover;
  height: 32px;
  width: 150px; 
}

.date {
  margin-left: 850px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16px;
 
}

.list .selected {
  border-bottom: 2px solid yellow;
  color: yellow;
}